<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XOLanguageOptionKey</key>
	<string>default</string>
	<key>XOFontSizeOptionKey</key>
	<string>default</string>
	<key>XOChatBackgroundOptionKey</key>
	<string>default</string>
	<key>XOChatEmojiOptionKey</key>
	<string>default</string>
	<key>XOChatDownLoadOptionKey</key>
	<dict>
		<key>XOChatAutoDownLoadKey</key>
		<true/>
		<key>XOChatImageDownLoadKey</key>
		<true/>
		<key>XOChatVideoDownLoadKey</key>
		<true/>
	</dict>
	<key>XONotificationOptionKey</key>
	<dict>
		<key>XONewMessageNotificationKey</key>
        <true/>
        <key>XOCallRemindNotificationKey</key>
        <true/>
        <key>XOShowDetailNotificationKey</key>
        <true/>
        <key>XONotificationSoundKey</key>
        <true/>
        <key>XONotificationVibrateKey</key>
        <true/>
	</dict>
</dict>
</plist>
